/* bakery mixin and variables */
/******************
 * colors
 *****************/
/******************
 * media size
 ******************/
/******************
 *  mixin
 ******************/
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 50px;
  color: #333333;
  background-color: #fefefe;
  font-family: monospace;
}
body header .nav-item {
  color: #666666;
}
body a {
  color: #3333ff;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body table {
  border-collapse: collapse;
}
body table th,
body table td {
  padding: 5px 10px;
  background-color: #fefefe;
  border: 1px solid #f4f4f4;
}
body table th {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f6f6f6));
  background-image: -webkit-linear-gradient(#fefefe, #f6f6f6);
  background-image: -moz-linear-gradient(#fefefe, #f6f6f6);
  background-image: -o-linear-gradient(#fefefe, #f6f6f6);
  background-image: -ms-linear-gradient(#fefefe, #f6f6f6);
  background-image: linear-gradient(#fefefe, #f6f6f6);
}
body table.stripe-table tbody tr:nth-child(even) {
  background-color: #fbfbfb;
}
body .btn {
  display: inline-block;
  background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e5e5e5));
  background-image: -webkit-linear-gradient(#fefefe, #e5e5e5);
  background-image: -moz-linear-gradient(#fefefe, #e5e5e5);
  background-image: -o-linear-gradient(#fefefe, #e5e5e5);
  background-image: -ms-linear-gradient(#fefefe, #e5e5e5);
  background-image: linear-gradient(#fefefe, #e5e5e5);
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #4c4c4c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .btn:hover {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background-image: -webkit-linear-gradient(#ffffff, #efefef);
  background-image: -moz-linear-gradient(#ffffff, #efefef);
  background-image: -o-linear-gradient(#ffffff, #efefef);
  background-image: -ms-linear-gradient(#ffffff, #efefef);
  background-image: linear-gradient(#ffffff, #efefef);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #eaeaea;
  color: #323232;
  text-decoration: none;
}
body .btn:active,
body .btn.active {
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #7f7f7f;
}
body .primary-btn {
  display: inline-block;
  background-color: #dc9212;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeaa33), to(#dc9212));
  background-image: -webkit-linear-gradient(#eeaa33, #dc9212);
  background-image: -moz-linear-gradient(#eeaa33, #dc9212);
  background-image: -o-linear-gradient(#eeaa33, #dc9212);
  background-image: -ms-linear-gradient(#eeaa33, #dc9212);
  background-image: linear-gradient(#eeaa33, #dc9212);
  border: 1px solid #d28c12;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .primary-btn:hover {
  background-color: #ec9e17;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efb041), to(#ec9e17));
  background-image: -webkit-linear-gradient(#efb041, #ec9e17);
  background-image: -moz-linear-gradient(#efb041, #ec9e17);
  background-image: -o-linear-gradient(#efb041, #ec9e17);
  background-image: -ms-linear-gradient(#efb041, #ec9e17);
  background-image: linear-gradient(#efb041, #ec9e17);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #e59913;
  color: #000000;
  text-decoration: none;
}
body .primary-btn:active,
body .primary-btn.active {
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #1f1503;
}
body .logo {
  margin: 2px 10px;
  opacity: 0.5;
}
body .logo a {
  color: #777777;
}
body .logo a:hover {
  color: #777777;
  text-decoration: none;
}
body .block-list-header {
  background-color: #705018;
  background-color: #4e3811;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#705018), to(#4e3811));
  background-image: -webkit-linear-gradient(#705018, #4e3811);
  background-image: -moz-linear-gradient(#705018, #4e3811);
  background-image: -o-linear-gradient(#705018, #4e3811);
  background-image: -ms-linear-gradient(#705018, #4e3811);
  background-image: linear-gradient(#705018, #4e3811);
  padding: 5px 15px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
body .block-list {
  padding: 0;
  margin-top: 0;
}
body .block-list li {
  list-style: none;
  padding: 5px 15px;
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  position: relative;
}
body .block-list li:hover {
  background-color: rgba(238, 170, 51, 0.09999999999999998);
  border-color: rgba(220, 146, 18, 0.09999999999999998);
  z-index: 99;
}
body .block-list li:hover .block-list-item-control {
  opacity: 1;
}
body .block-list li:active {
  color: #ffffff;
  background-color: #eeaa33;
  border-color: #dc9212;
}
body .block-list li .block-list-item-control {
  opacity: 0.1;
}
