@import "../../../lib/src/stylesheets/tek-mixin.less/04.component.less";
body{
  font-size: 18px;
}
section {
  background-color: #AAA;
}

.block-table {
  background-color: #FAFAFA;
  color: #333;
  .table(#FEFEFE);
  .block-table();
}



form{
  .checkbox-radio-style();
}