/* <h3>color variables</h3>

  ```
    <p>
      <span class="colored-box color-white">@white</span>
      <span class="colored-box color-silver">@silver</span>
      <span class="colored-box color-black">@black</span>
      <span class="colored-box color-gray">@gray</span>
      <span class="colored-box color-red">@red</span>
      <span class="colored-box color-pink">@pink</span>
      <span class="colored-box color-yellow">@yellow</span>
      <span class="colored-box color-orange">@orange</span>
      <span class="colored-box color-brown">@brown</span>
      <span class="colored-box color-green">@green</span>
      <span class="colored-box color-blue">@blue</span>
      <span class="colored-box color-purple">@purple</span>
      <span class="colored-box color-cyan">@cyan</span>
    </p>
  ```
*/
/*
  <h3>linear gradient</h3>
  <p>
    .linear-gradient(@blue, darken(@blue, 30));
  </p>
  ```
    <div class="blue-gradient gradient-box"></div>
  ```
*/
/*
  <h3>radial gradient</h3>
  <p>
    .radial-gradient(20%, 40%, @green, darken(@green, 50));
  </p>
  ```
    <div class="green-radial-gradient radial-gradient-box"></div>
  ```
*/
/*
  <h3>stripe</h3>
  <p>
    .stripe(40px, lighten(@orange, 20));
  </p>

  ```
    <div class="stripe-box orange-stripe"></div>

  ```
*/
/*
  <h3>rotate</h3>
  <p>
  .rotate(45deg);
  </p>
  ```
    <div class="box rotate45"></div>
  ```
*/
/*
  <h3>skew</h3>
  <p>
    .skew(30deg);
  </p>
  ```
    <div class="box skew30"></div>
  ```
 */
/*
   <h3>baloon</h3>
   <p>
      .red-balloon{
        .balloon(@red);
      }
      .green-balloon{
        .balloon(@green);
      }
      .blue-balloon{
        .balloon(@blue);
      }
      .yellow-balloon{
        .balloon(@yellow);
      }
   </p>
   ```
      <div>
        <div class="red-balloon"> red baloon </div>
        <div class="green-balloon"> green baloon </div>
        <div class="blue-balloon"> blue baloon </div>
        <div class="yellow-balloon"> yellow baloon </div>
      </div>
   ```
*/
section {
  background-color: #AAA;
}
.block-table {
  background-color: #FAFAFA;
  color: #333;
  border-collapse: collapse;
  width: 100%;
}
.block-table th,
.block-table td {
  padding: 5px 10px;
  background-color: #fefefe;
  border: 1px solid #f4f4f4;
}
.block-table th {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(#fefefe,#f6f6f6);
  background-image: -moz-linear-gradient(#fefefe,#f6f6f6);
  background-image: -o-linear-gradient(#fefefe,#f6f6f6);
  background-image: -ms-linear-gradient(#fefefe,#f6f6f6);
  background-image: linear-gradient(#fefefe,#f6f6f6);
}
.block-table thead,
.block-table tbody,
.block-table tfoot,
.block-table tr,
.block-table th,
.block-table td {
  display: block;
  width: 100%;
}
form [type="checkbox"],
form [type="radio"] {
  display: none;
}
form [type="checkbox"] + label,
form [type="radio"] + label {
  position: relative;
  padding-left: 20px;
}
form [type="checkbox"] + label:before,
form [type="radio"] + label:before {
  width: 10px;
  height: 10px;
  background-color: #333333;
  display: inline-block;
  content: '';
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
  -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
  bottom: 4.5px;
  left: 7px;
  position: absolute;
}
form [type="checkbox"] + label:after,
form [type="radio"] + label:after {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  display: inline-block;
  content: '';
  bottom: 6.5px;
  left: 9px;
  position: absolute;
  display: none;
}
form [type="checkbox"]:checked + label:after,
form [type="radio"]:checked + label:after {
  display: inline-block;
}
form [type="radio"] + label:before,
form [type="radio"] + label:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
form [type="checkbox"] + label:before {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
form [type="checkbox"] + label:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 2px;
  height: 5px;
  left: 10px;
  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;
  background-color: transparent;
}
