/* <h3>color variables</h3>

  ```
    <p>
      <span class="colored-box color-white">@white</span>
      <span class="colored-box color-silver">@silver</span>
      <span class="colored-box color-black">@black</span>
      <span class="colored-box color-gray">@gray</span>
      <span class="colored-box color-red">@red</span>
      <span class="colored-box color-pink">@pink</span>
      <span class="colored-box color-yellow">@yellow</span>
      <span class="colored-box color-orange">@orange</span>
      <span class="colored-box color-brown">@brown</span>
      <span class="colored-box color-green">@green</span>
      <span class="colored-box color-blue">@blue</span>
      <span class="colored-box color-purple">@purple</span>
      <span class="colored-box color-cyan">@cyan</span>
    </p>
  ```
*/
/* <h3>media size</h3>
   <p>
     <dl>
        <dt><b>@phonePortrait</b></dt>
        <dd>phone size when put vertical</dd>
        <dt><b>@phoneLandscape</b></dt>
        <dd>phone size when put horizontal</dd>
        <dt><b>@tabletPortrait</b></dt>
        <dd>tablet size when put vertical</dd>
        <dt><b>@tabletLandscape</b></dt>
        <dd>tablet size when put horizontal</dd>
     </dl>
   </p>
*/
/*
  <h3>linear gradient</h3>
  <p>
    .linear-gradient(@blue, darken(@blue, 30));
  </p>
  ```
    <div class="blue-gradient gradient-box"></div>
  ```
*/
/*
  <h3>radial gradient</h3>
  <p>
    .radial-gradient(20%, 40%, @green, darken(@green, 50));
  </p>
  ```
    <div class="green-radial-gradient radial-gradient-box"></div>
  ```
*/
/*
  <h3>stripe</h3>
  <p>
    .stripe(40px, lighten(@orange, 20));
  </p>

  ```
    <div class="stripe-box orange-stripe"></div>

  ```
*/
/*
  <h3>rotate</h3>
  <p>
  .rotate(45deg);
  </p>
  ```
    <div class="box rotate45"></div>
  ```
*/
/*
  <h3>skew</h3>
  <p>
    .skew(30deg);
  </p>
  ```
    <div class="box skew30"></div>
  ```
 */
/*
   <h3>baloon</h3>
   <p>
      .red-balloon{
        .balloon(@red);
      }
      .green-balloon{
        .balloon(@green);
      }
      .blue-balloon{
        .balloon(@blue);
      }
      .yellow-balloon{
        .balloon(@yellow);
      }
   </p>
   ```
      <div>
        <div class="red-balloon"> red baloon </div>
        <div class="green-balloon"> green baloon </div>
        <div class="blue-balloon"> blue baloon </div>
        <div class="yellow-balloon"> yellow baloon </div>
      </div>
   ```
*/
/*******************
 * sizing
 *******************/
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.small {
  font-size: 0.75em;
}
.full-width {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/*******************
 *  mouse events
 *******************/
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.unpointable {
  -ms-pointer-events: none;
  -moz-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;
}
.grabbable {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -webkit-grab;
  cursor: -ms-grab;
}
.grabbable:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
}
.grabbable:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
}
/*******************
 *  positioning
 *******************/
.positioned {
  position: relative;
}
.stick-left {
  position: absolute;
  left: 5px;
}
.stick-right {
  position: absolute;
  right: 5px;
}
.stick-top {
  position: absolute;
  top: 5px;
}
.stick-bottom {
  position: absolute;
  bottom: 5px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.clear {
  clear: both;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  content: '';
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/******************
 display
*******************/
[class^="inline-"] {
  display: inline-block;
}
[class^="block-"] {
  display: block;
}
.hidden {
  display: none;
}
/******************
 phone
*******************/
@media (width: 420px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
  }
  section {
    width: 100%;
    display: block;
  }
  table {
    width: 100%;
  }
  table thead,
  table tbody,
  table tfoot,
  table tr,
  table th,
  table td {
    display: block;
    width: 100%;
  }
  table thead,
  table tbody,
  table tfoot,
  table tr,
  table th,
  table td {
    display: block;
    width: 100%;
  }
}
/* <h3>color variables</h3>

  ```
    <p>
      <span class="colored-box color-white">@white</span>
      <span class="colored-box color-silver">@silver</span>
      <span class="colored-box color-black">@black</span>
      <span class="colored-box color-gray">@gray</span>
      <span class="colored-box color-red">@red</span>
      <span class="colored-box color-pink">@pink</span>
      <span class="colored-box color-yellow">@yellow</span>
      <span class="colored-box color-orange">@orange</span>
      <span class="colored-box color-brown">@brown</span>
      <span class="colored-box color-green">@green</span>
      <span class="colored-box color-blue">@blue</span>
      <span class="colored-box color-purple">@purple</span>
      <span class="colored-box color-cyan">@cyan</span>
    </p>
  ```
*/
/* <h3>media size</h3>
   <p>
     <dl>
        <dt><b>@phonePortrait</b></dt>
        <dd>phone size when put vertical</dd>
        <dt><b>@phoneLandscape</b></dt>
        <dd>phone size when put horizontal</dd>
        <dt><b>@tabletPortrait</b></dt>
        <dd>tablet size when put vertical</dd>
        <dt><b>@tabletLandscape</b></dt>
        <dd>tablet size when put horizontal</dd>
     </dl>
   </p>
*/
/*
  <h3>linear gradient</h3>
  <p>
    .linear-gradient(@blue, darken(@blue, 30));
  </p>
  ```
    <div class="blue-gradient gradient-box"></div>
  ```
*/
/*
  <h3>radial gradient</h3>
  <p>
    .radial-gradient(20%, 40%, @green, darken(@green, 50));
  </p>
  ```
    <div class="green-radial-gradient radial-gradient-box"></div>
  ```
*/
/*
  <h3>stripe</h3>
  <p>
    .stripe(40px, lighten(@orange, 20));
  </p>

  ```
    <div class="stripe-box orange-stripe"></div>

  ```
*/
/*
  <h3>rotate</h3>
  <p>
  .rotate(45deg);
  </p>
  ```
    <div class="box rotate45"></div>
  ```
*/
/*
  <h3>skew</h3>
  <p>
    .skew(30deg);
  </p>
  ```
    <div class="box skew30"></div>
  ```
 */
/*
   <h3>baloon</h3>
   <p>
      .red-balloon{
        .balloon(@red);
      }
      .green-balloon{
        .balloon(@green);
      }
      .blue-balloon{
        .balloon(@blue);
      }
      .yellow-balloon{
        .balloon(@yellow);
      }
   </p>
   ```
      <div>
        <div class="red-balloon"> red baloon </div>
        <div class="green-balloon"> green baloon </div>
        <div class="blue-balloon"> blue baloon </div>
        <div class="yellow-balloon"> yellow baloon </div>
      </div>
   ```
*/
body {
  background-color: #ffffff;
  font-family: monospace;
  padding: 50px;
  color: #666666;
}
/*
  <h3>header</h3>

  ```
    <header>
       <h3 class="inline-logo">logo</h3>
       <nav>
          <a class="nav-item" href="">nav-item01</a>
          <a class="nav-item" href="">nav-item02</a>
       </nav>
    </header>
  ```
*/
header {
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
header .inline-logo {
  font-size: 1.2em;
  margin: 5px 10px;
}
nav {
  display: inline-block;
  float: right;
}
.nav-item {
  display: inline-block;
  background-color: transparent;
  padding: 5px 10px;
  color: #666666;
}
.nav-item:hover {
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: none;
}
/*
  <h3>a</h3>
  ```
    <a href=""> link to somewhere</a>
  ```
*/
a {
  color: #3333ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
/*
  <h3>table</h3>
  <table>
    <thead>
      <tr>
        <th>th1</th>
        <th>th2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>td1-1</td>
        <td>td1-2</td>
      </tr>
      <tr>
        <td>td2-1</td>
        <td>td2-2</td>
      <tr>
    </tbody>
  </table>
*/
table {
  border-collapse: collapse;
}
table th,
table td {
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
}
table th {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(#ffffff,#f7f7f7);
  background-image: -moz-linear-gradient(#ffffff,#f7f7f7);
  background-image: -o-linear-gradient(#ffffff,#f7f7f7);
  background-image: -ms-linear-gradient(#ffffff,#f7f7f7);
  background-image: linear-gradient(#ffffff,#f7f7f7);
}
table th,
table td {
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
}
table th {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(#ffffff,#f7f7f7);
  background-image: -moz-linear-gradient(#ffffff,#f7f7f7);
  background-image: -o-linear-gradient(#ffffff,#f7f7f7);
  background-image: -ms-linear-gradient(#ffffff,#f7f7f7);
  background-image: linear-gradient(#ffffff,#f7f7f7);
}
/*
  <h3>.btn</h3>
  ```
    <div>
      <a class="btn">btn</a>
      <a class="primary-btn">primary-btn</a>
    </div>
  ```
*/
.btn {
  display: inline-block;
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(#ffffff,#e6e6e6);
  background-image: -moz-linear-gradient(#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(#ffffff,#e6e6e6);
  background-image: -ms-linear-gradient(#ffffff,#e6e6e6);
  background-image: linear-gradient(#ffffff,#e6e6e6);
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #4d4d4d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(#ffffff,#f0f0f0);
  background-image: -moz-linear-gradient(#ffffff,#f0f0f0);
  background-image: -o-linear-gradient(#ffffff,#f0f0f0);
  background-image: -ms-linear-gradient(#ffffff,#f0f0f0);
  background-image: linear-gradient(#ffffff,#f0f0f0);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #ebebeb;
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #808080;
}
.btn:hover {
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(#ffffff,#f0f0f0);
  background-image: -moz-linear-gradient(#ffffff,#f0f0f0);
  background-image: -o-linear-gradient(#ffffff,#f0f0f0);
  background-image: -ms-linear-gradient(#ffffff,#f0f0f0);
  background-image: linear-gradient(#ffffff,#f0f0f0);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #ebebeb;
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #808080;
}
.primary-btn {
  display: inline-block;
  background-color: #0000eb;
  background-image: -webkit-linear-gradient(#1f1fff,#0000eb);
  background-image: -moz-linear-gradient(#1f1fff,#0000eb);
  background-image: -o-linear-gradient(#1f1fff,#0000eb);
  background-image: -ms-linear-gradient(#1f1fff,#0000eb);
  background-image: linear-gradient(#1f1fff,#0000eb);
  border: 1px solid #0000e0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
}
.primary-btn:hover {
  background-color: #0000ff;
  background-image: -webkit-linear-gradient(#2e2eff,#0000ff);
  background-image: -moz-linear-gradient(#2e2eff,#0000ff);
  background-image: -o-linear-gradient(#2e2eff,#0000ff);
  background-image: -ms-linear-gradient(#2e2eff,#0000ff);
  background-image: linear-gradient(#2e2eff,#0000ff);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #0000f5;
  color: #000000;
  text-decoration: none;
}
.primary-btn:active,
.primary-btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #00001f;
}
.primary-btn:hover {
  background-color: #0000ff;
  background-image: -webkit-linear-gradient(#2e2eff,#0000ff);
  background-image: -moz-linear-gradient(#2e2eff,#0000ff);
  background-image: -o-linear-gradient(#2e2eff,#0000ff);
  background-image: -ms-linear-gradient(#2e2eff,#0000ff);
  background-image: linear-gradient(#2e2eff,#0000ff);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #0000f5;
  color: #000000;
  text-decoration: none;
}
.primary-btn:active,
.primary-btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #00001f;
}
.primary-btn:hover {
  color: #ffffff;
}
.logo {
  margin: 2px 10px;
  opacity: 0.5;
}
.logo a {
  color: #666666;
}
.logo a:hover {
  color: #666666;
  text-decoration: none;
}
/*
  <h3>.block-list</3>
  ```
  <div class="block-list-header">block-list-header</div>
  <ul class="block-list">
    <li>list-item01</li>
    <li>list-item02</li>
  </ul>
  ```
*/
.block-list-header {
  background-color: #0d0d77;
  background-color: #090953;
  background-image: -webkit-linear-gradient(#0d0d77,#090953);
  background-image: -moz-linear-gradient(#0d0d77,#090953);
  background-image: -o-linear-gradient(#0d0d77,#090953);
  background-image: -ms-linear-gradient(#0d0d77,#090953);
  background-image: linear-gradient(#0d0d77,#090953);
  padding: 5px 15px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #e6e6e6;
}
.block-list {
  padding: 0;
  margin-top: 0;
}
.block-list li {
  list-style: none;
  padding: 5px 15px;
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  position: relative;
}
.block-list li:hover {
  background-color: rgba(31, 31, 255, 0.09999999999999998);
  border-color: rgba(0, 0, 235, 0.09999999999999998);
  z-index: 99;
}
.block-list li:hover .block-list-item-control {
  opacity: 1;
}
.block-list li:active {
  color: #ffffff;
  background-color: #1f1fff;
  border-color: #0000eb;
}
.block-list li .block-list-item-control {
  opacity: 0.1;
}
.block-list li {
  list-style: none;
  padding: 5px 15px;
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  position: relative;
}
.block-list li:hover {
  background-color: rgba(31, 31, 255, 0.09999999999999998);
  border-color: rgba(0, 0, 235, 0.09999999999999998);
  z-index: 99;
}
.block-list li:hover .block-list-item-control {
  opacity: 1;
}
.block-list li:active {
  color: #ffffff;
  background-color: #1f1fff;
  border-color: #0000eb;
}
.block-list li .block-list-item-control {
  opacity: 0.1;
}
/*
  <h3>.tab</h3>
  ```
  <div>
    <a class="tab">tab00</a>
    <a class="tab">tab01</a>
    <a class="tab tab-selected">tab02</a>
    <a class="tab tab-disabled">tab03</a>
  </div>
  ```
*/
.tab {
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  display: inline-block;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  color: #666666;
  float: left;
  margin: 4px 0 -1px;
  text-align: center;
}
.tab:hover {
  text-decoration: none;
  background-color: #8080ff;
  border-color: #8080ff;
  color: #ffffff;
}
.tab:active {
  background-color: #5252ff;
  border-color: #5252ff;
}
.tab:hover {
  text-decoration: none;
  background-color: #8080ff;
  border-color: #8080ff;
  color: #ffffff;
}
.tab:active {
  background-color: #5252ff;
  border-color: #5252ff;
}
.tab.tab-selected {
  background-color: #2323c7;
  border-color: #2323c7;
  color: #ffffff;
}
.tab.tab-selected:hover,
.tab.tab-selected:active {
  cursor: default;
  background-color: #2323c7;
  border-color: #2323c7;
  color: #ffffff;
}
.tab.tab-selected:hover,
.tab.tab-selected:active {
  cursor: default;
  background-color: #2323c7;
  border-color: #2323c7;
  color: #ffffff;
}
.tab.tab-disabled {
  background-color: #999999;
  border-color: #999999;
  color: #cccccc;
}
.tab.tab-disabled:hover,
.tab.tab-disabled:active {
  cursor: default;
  background-color: #999999;
  border-color: #999999;
  color: #cccccc;
}
.tab.tab-disabled:hover,
.tab.tab-disabled:active {
  cursor: default;
  background-color: #999999;
  border-color: #999999;
  color: #cccccc;
}
