<form action="{{action}}" method="post"
      enctype="multipart/form-data" class="tk-upload-form">
    <span>{{{msg}}}</span>
    <input type="file" name="{{name}}" multiple="multiple" class="tk-cover">
</form>