<div class="tk-slide-menu">
    <div class="tk-slide-menu-inner">
        <a class="tk-slide-menu-open-btn" href="javascript:void(0)">{{{open_text}}}</a>
        <a class="tk-slide-menu-close-btn" href="javascript:void(0)">{{{close_text}}}</a>
        <div class="tk-slide-menu-content"></div>
    </div>
</div>